// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "../node_modules/bootstrap/scss/functions";
@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

// 2. Include any default variable overrides here
$link-decoration: none;
$primary: #0c61e2;
$secondary: #0209a0;
$warning: #ff5e37;

// 3. Include remainder of required Bootstrap stylesheets
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/variables-dark";

// 4. Include any default map overrides here
$custom-colors: (
	"altWhite": #eef1f6,
	"Morkegron": #004032,
	"mint": #b0ffc5,
	"gul": #ffd300,
	"darkRed": #c40000,
);

$theme-colors: map-merge($theme-colors, $custom-colors);

$box-shadow-sm: 5px 5px 5px 0px rgba($black, .025);

@import "bootstrapComponents";

// 5. Du kan lave styling her...
body{
	font-family: "Roboto Condensed";
}

.instrument{
	font-family: "Instrument Serif";
}

.transparentIntro{
	border-radius: 25px;
	background: rgba(238, 241, 246, 0.25);
	backdrop-filter: blur(7.5px);
	color: red;
}