// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "../node_modules/bootstrap/scss/functions";
@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

// 2. Include any default variable overrides here
$link-decoration: none;
$primary: #0c61e2;
$secondary: #0209a0;
$warning: #ff5e37;

// 3. Include remainder of required Bootstrap stylesheets
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/variables-dark";

// 4. Include any default map overrides here
$custom-colors: (
	"altWhite": #eef1f6,
	"Morkegron": #004032,
	"mint": #b0ffc5,
	"gul": #ffd300,
	"darkRed": #c40000,
	"beige": #F6EEDE,
	"blackBorder": #0000007F,
	"lightPrimary": #5F97EC,
	"saleGreen": #59DE5D,
);

$theme-colors: map-merge($theme-colors, $custom-colors);

$box-shadow-sm: 5px 5px 5px 0px rgba($black, .025);

$custom-widths: (
				10: 10%,
				20: 20%,
				35: 35%,
				90: 90%
);

@each $size, $value in $custom-widths {
	.w-#{$size} {
		width: $value !important;
	}
}

@import "bootstrapComponents";

// 5. Du kan lave styling her...
body{
	font-family: "Roboto Condensed";
}

.instrument{
	font-family: "Instrument Serif";
}

.transparentIntro{
	border-radius: 15px;
	background: rgba(238, 241, 246, 0.25);
	backdrop-filter: blur(7.5px);
}

.bg-secondaryToWhiteGradient{
	background: linear-gradient(180deg, #0209A0 25%, #F6EEDE 50%);
}

.donationCardW{
	width: 33%;
	min-width: 319px;
}

.randomLine{
	min-height: 5px;
}

.profile-card {
	max-width: 600px;
	box-sizing: border-box;
}

.cardFixer {
	height: 200px;
	object-fit: contain;
}

// SM breakpoint
@media screen and (min-width: 576px){
 .w-sm-50{
	 width: 50% !important;
 }
}

// MD breakpoint
@media screen and (min-width: 768px){
	.w-md-50{
		width: 50% !important;
	}
	.w-md-25{
		width: 50% !important;
	}
}

// Lg breakpoint
@media screen and (min-width: 992px){
	.w-lg-50{
		width: 50% !important;
	}
	.w-lg-25{
		width: 25% !important;
	}
	.w-lg-100{
		width: 100% !important;
	}
}

// Misc breakpoint 💀
@media (max-width: 600px) {
	.profile-card {
		width: calc(100% - 2rem);
		margin-left: auto;
		margin-right: auto;
	}
}